body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #949494;
  margin: 0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #505050;
  width: 100%;
  height: 80px;
}

h1 {
  color: #717171;
  font-size: 200%;
  font-weight: 300;
}

.contestinfo {
  display: flex;
  justify-content: space-around;
  font-weight: bold;
  margin-top: 20px;
  width: 90%;
}

.heroinfo, .villaninfo {
  display: flex;
  flex-basis: 40%;
  align-items: center;
  justify-content: space-between;
}

.commence {
  background-color: #423658;
  font-weight: bold;
  font-size: 120%;
  border: 0px;
  border-radius: 10px;
  margin-top: 20px;
  padding: 10px 18px;
}

a {
  color: #8c69a2;
  text-decoration: none;
}

.victor {
  margin-top: 40px;
}

#hero, #villan {
  margin-left: 5px;
  text-transform: uppercase;
  flex-basis: 30%;
  text-align: center;
}

#hero {
  color: #0e008b;
}

#villan {
  color: #800008;
}

#result {
  font-size: 200%;
  font-style: oblique;
  font-weight: 400;
}
